@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    color: #fff;
    background-image: url('2.jpg');
    background-attachment: fixed;    
}

.container{
	display: grid;
	max-width: 1080px;
	margin: 0 auto auto;
}

#index-page{
	max-height: 720px;
	grid-template-rows: 1fr 1fr;
}

.header{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	color: rgb(255, 50, 50);
}

#book-form{
	padding: 30px;
}

form label{
	display: block;
	font-size: 2em;
	color: rgb(50, 255, 50);
}

input[type="text"]{
	position: relative;
	max-width: 400px;
	width: 100%;
	height: 50px;
	padding-left: 25px;
	margin: 30px 0 30px 0;
	border: none;
	outline: none;
	border-radius: 25px 0 0 25px;
	font-size:  16px;
}

input[type="submit"]{
	position: relative;
	left: -5px;
	width: 100px;
	height: 50px;
	border-radius: 0 25px 25px 0;
	border: none;
	outline: none;
	cursor: pointer;
	background: rgb(50, 50, 250);
	color: rgb(255, 255, 255);
}

.btn:hover{
	background-color: rgb(90, 90, 250);
}

.content {
	max-width: 1080px;
	margin: 0px;
	background-color: rgb(30, 30, 30);
	padding: 25px;
	border-radius: 20px;
}

#boo-detailsk{
	width: 100%;
}

#book-title{
	grid-row: 1 / 2;
	grid-column: 1 / 13;
}

#book-details {
	grid-row: 2 / 3;
	grid-column: 1 / 13;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

table{
	text-align: left;
}

td{
	padding-right: 10px;
}

.recommendations{
	margin: auto;
	max-width: 1000px;
}

.main{
	display: grid;
	align-items: center;
	max-width: 1000px;
	margin: 0px;
	background-color: rgb(30, 30, 30);
	padding: 15px;
	border-radius: 15px;
}

.card{
	display: grid;
	max-width: 1000px;
	align-items: center;
	margin: 5px;
	border-radius: 35px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.card:hover{
	background-color: rgb(40, 40, 40);
}
.search-bar .header{
	color: rgb(125, 125, 125);
}

.search-bar .book-label{
	color: rgb(200, 200, 200);
}

.search-bar .btn{
	background: rgb(100, 100, 100);
}

.search-bar .btn:hover{
	background-color: rgb(50, 50, 50);
}

ul{
	
}