<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css')}}">
	<script defer type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
	<title>{{msg}}</title>
</head>
<body>
	<div class="container">
		<div class="search-bar">
			<h1 class="header">Books Recomender</h1>
			<form onsubmit="return validate()" action="/search" method="post" id="form">
				<label class="book-label" for="Book">Enter Book Name:</label>
				<input type="text" name="book" id="keyword" placeholder="Enter Book Title...">
				<input onclick="validate()" type="submit" name="submit" class="btn" value="Search">
			</form>
		</div>
		<div>
			<h1>{{msg}}</h1>
		</div>
	</div>
</body>
</html>