<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">	
	<title>Book</title>
</head>
<body>
	<div class="container">
		<div class="search-bar">
			<h1 class="header">Books Recomender</h1>
			<form action="/search" method="post" id="book-form">
				<label class="book-label" for="Book">Enter Book Name:</label>
				<input type="text" name="book" placeholder="Enter Book Title...">
				<input type="submit" name="submit" class="btn" value="Search">
			</form>
		</div>
		<div class="content">

			<img id="book-img" src="{{result['book_details'].covers_m}}" alt="book-img">
			<h1 id="book-title">{{result['book_details'].title}}</h1>
			<h3 id="book-authors">{{result['book_details'].authors}}</h3>
			<p id="book-description">{{result['book_details'].description}}</p>
		</div>

		<div class="recommendations">
			<h1>Book recommendations</h1>
			<div class="main">
				{% for item in result['recommendations'] %}
					<div class="card">
						<div class="card-img">
							<img src="{{item.covers_s}}" alt="{{item.title}}">
						</div>
						<div class="card-title">
							<h4>{{item.title}}</h4>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>